.row-fluid
  .span1
  .span10
    .navbar
      .btn-group
        %button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown")
          AWS Account
          %span.caret
        %ul.dropdown-menu(role="menu")
          - @account_name_list.each do |account_name|
            %li
              %a(href="?account_name=#{account_name}")= account_name

.row-fluid
  .span1
  .span10
    .input-group
      %input#reload(type="button" value="全て更新")
      %input#toggle_hide_stop(type="button" value="stoppedを隠す/表示")
      %input.form-control#filter_text(type="text" size="20" placeholder="filter text")
    %div#main

:coffee
  $ ->
    ec2 = AWSSC.EC2
      canvas: "main"
      reload: "reload"
      toggle_hide_stop: "toggle_hide_stop"
      filter_text: "filter_text"
      account_name: "#{@account_name}"
    ec2.show_ec2_instances()
