.nav.navbar-default
  .btn-group
    %button.btn.btn-primary.dropdown-toggle#account_dropdown(type="button" data-toggle="dropdown")
      AWS Account
      %span.caret
    %ul.dropdown-menu(role="menu")
      - @account_list.each do |account|
        %li(class="#{@account_name == account.name ? 'active' : ''}")
          %a(href="?account_name=#{account.name}")= account.name

%div#main
  .input-group.top-controll
    %button.top-controll.btn(type="button" data-bind="click: onReload") 全て更新
    %button.top-controll.btn(type="button" data-bind="click: onToggleHideStop") stoppedを隠す/表示
    %input.top-controll.form-control(type="text" size="20" placeholder="filter text" data-bind="value: filterText")

  .aws-region(data-bind="foreach: regions")
    %h1(data-bind="text: regionName")
    %div(data-bind="foreach: ec2List")
      .ec2-panel-item(data-bind="visible: !shouldHide()")
        %button.btn.btn-small(type="button" data-bind="click: onInfo")
          %i.icon.icon-info-sign
        %button.btn.btn-small(type="button" data-bind="click: onReload")
          %i.icon.icon-refresh
        %button.btn.btn-small(type="button" data-bind="visible: can_start_stop(), click: onEditSchedule" )
          %i.icon.icon-edit
          %i.icon.icon-calendar
        %button.btn.btn-small(type="button" data-bind="click: onLockUnlock")
          %span(data-bind="visible: can_start_stop()" )
            %i.icon.icon-hand-right
            %i.icon.icon-lock
          %span(data-bind="visible: !can_start_stop()" )
            %i.icon.icon-hand-right
            %i.icon.icon-unlock
        .ec2-panel-item-name(data-bind="text: name")
        .ec2-panel-item-type(data-bind="text: instance_type, css: instanceTypeCSS")
        .ec2-panel-item-launch-time(data-bind="text: launch_time")
        .ec2-panel-item-status(data-bind="text: status, css: status")
        %span Schedule:
        %span.ec2-panel-item-schedule(data-bind="text: run_schedule")
        .ec2-panel-item-auto-mode(data-bind="visible: can_start_stop()")
          %span(data-bind="visible: use_stop_only()") STOP Only
          %span(data-bind="visible: !use_stop_only()") STOP and Start
        %div
          %button.btn.btn-default.ec2-start-stop(data-bind="visible: can_start_stop()")
            %span(data-bind="visible: is_running(), click: onStop") STOP
            %span(data-bind="visible: is_stopped(), click: onStart") START
            %i.icon.icon-spinner(data-bind="visible: is_state_changing" )
        .ec2-panel-item-cost(data-bind="text: cost, visible: is_running()")


:coffee
  $ ->
    ec2 = AWSSC.EC2
      canvas: "main"
      account_name: "#{@account_name}"
      default_account_name: "#{@default_account_name}"
      account_dropdown: "account_dropdown"
    ec2.show_ec2_instances()
