.nav.navbar-default
  .btn-group
    %button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown")
      AWS Account
      %span.caret
    %ul.dropdown-menu(role="menu")
      - @account_list.each do |account|
        %li(class="#{@account_name == account.name ? 'active' : ''}")
          %a(href="?account_name=#{account.name}")= account.name

.input-group.top-controll
  %button.top-controll.btn#reload(type="button") 全て更新
  %button.top-controll.btn#toggle_hide_stop(type="button") stoppedを隠す/表示
  %input.top-controll.form-control#filter_text(type="text" size="20" placeholder="filter text")

%div#main

:coffee
  $ ->
    ec2 = AWSSC.EC2
      canvas: "main"
      reload: "reload"
      toggle_hide_stop: "toggle_hide_stop"
      filter_text: "filter_text"
      account_name: "#{@account_name}"
    ec2.show_ec2_instances()
